@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Merriweather&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

html, body {
    background-color: #eeeeee;
    color: #222;
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    color: black;
}

h1 {
    font-family: "Merriweather", serif;
    padding-left: 10%;
}

h2 {
    font-family: "Kanit", sans-serif;
}

section {
    padding-left: 10%; 
}

.link-row a {
  margin: 3px;
}

.event {
  margin-bottom: 22px;
}
